@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.max-w-screen-xs {
  max-width: 320px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-overflow-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-overflow-bar {
  -ms-overflow-style: none;
}

@tailwind components;

@tailwind utilities;
